body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
}

/* reset */

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* common */

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  margin-right: 76px;
  padding: 24px 0;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* main */
/* sectiom 1 */

.page-section {
  padding: 188px 0;
  background-color: #2e2f42;
}

.one-name {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  align-items: center;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
}

.button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  border-radius: 4px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  background-color: #4d5ae5;
  cursor: pointer;
  color: #ffffff;
}
.button-klick:hover,
.button-klick:focus {
  background-color: #404bbf;
}

.section-span {
  color: #fff;
  text-align: center;
}

/* section 2 */

.section-list {
  padding: 120px 0;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  margin: -1px;
}

.one-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.one-list li {
  flex: 0 0 calc((100% - 3 * 24px) / 4);
}

.name-list {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}

.section-team {
  background-color: #f4f4fd;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* sectiom 3 */

.section-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.two-name {
  margin-bottom: 72px;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.team-item {
  flex: 0 0 calc((100% - 3 * 24px) / 4);
  min-height: 380px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  text-align: center;
}

.div-name {
  padding-top: 32px;
  padding-bottom: 32px;
}

.name-people {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.text-trade {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/* section 4 */
.portfolio {
  background-color: #fff;
  padding: 120px 0;
  text-align: left;
  letter-spacing: 0.02em;
}

.our-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
  list-style: none;
}

.our-portfolio li {
  flex: 0 0 calc((100% - 48px) / 3);
}

.our-portfolio li div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.container-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

/* footer */

.page-footer {
  max-height: 312px;
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-logo .logo-part {
  display: inline-block;
  margin-bottom: 16px;
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.comment {
  display: flex;
  gap: 16px;
  min-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
}
